.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.display-block-class {
  display: block;
}
.display-inline-class {
  display: inline-block;
}
.add-icon {
  color: #0ced40;
  font-size: 20px;
}
.add-icon:hover {
  cursor: pointer;
  color: #07ad2d;
  font-size: 20px;
}
.update-icon {
  color: #f08024;
  font-size: 20px;
}
.update-icon:hover {
  cursor: pointer;
  color: #c96410;
  font-size: 20px;
}
.trash-icon {
  color: #f00000;
  font-size: 20px;
}
.trash-icon:hover {
  cursor: pointer;
  color: #db1414;
  font-size: 20px;
}
.more-info {
  text-align: left;
  padding-left: 15px;
}
.add-to-cart {
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
}
.add-box-shadow {
  box-shadow: 0px 0px 23px -1px rgba(199, 197, 199, 1);
}
.add-border-radius {
  border-radius: 10px;
}
.product-list-container {
  margin-left: 30px;
  width: 100%;
  background-color: #efeff5;
}
.photo-container {
  margin-top: 17px;
  margin-right: 5px;
}
.photo-container:hover {
  opacity: 0.9;
}
.product-name {
  margin-top: 10px;
  margin-left: 15px;
  font-style: bold;
  font-size: 30px;
  font-weight: 700;
  width: 300px;
  text-align: left;
}
.product-price {
  margin-top: 5px;
  font-style: bold;
  font-size: 20px;
  font-weight: 600;
  padding-left: 19px;
  text-align: left;
}
.product-short-description {
  text-align: justify;
  padding-top: 70px;
  padding-right: 50px;
}
.product-description {
  text-align: left;
}
.more-info-product-name {
  font-size: 30px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}
.more-info-product-price {
  font-size: 30px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 30px;
}
.more-info-product-description {
  margin-top: 30px;
  font-size: 20px;
  text-align: justify;
  font-weight: 500;
}
.more-info-image {
  margin: 20px;
  width: 35%;
  height: 35%;
}
.icon-basket-attributes {
  cursor: pointer;
  color: #eb3325;
  font-size: 30px;
}
.icon-basket-attributes:hover {
  cursor: pointer;
  color: #ff3333;
  font-size: 30px;
}
.cart-product-list-container {
  padding-left: 100px;
}
.cart-product-name {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.cart-product-price {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.cart-product-credentials-container {
  padding-left: 20px;
}
.cart-product-photo {
  width: 15%;
  height: 15%;
  padding: 10px;
}
.cart-product-container {
  width: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 100px;
  background-color: #efeff5;
}
.cart-icon-trash {
  cursor: pointer;
  color: #f00000;
  font-size: 35px;
  margin-right: 10px;
  margin-top: 10px;
}
.cart-icon-trash:hover {
  cursor: pointer;
  color: #db1414;
}
.cart-price-checkout-container {
  margin-bottom: 30px;
  background-color: #efeff5;

  padding: 20px;
  border-radius: 10px;
}
.cart-shipping-options {
  width: 100%;
}
.cart-label-price {
  margin-left: 10px;
  font-weight: 700;
  float: left;
}
.cart-right-container {
  display: inline-block;
  width: 30%;
}
.someclass {
  float: right;
}
.in-one-line-on-endings {
  clear: both;
  display: inline-block;
}
.clear-both {
  clear: both;
}
.cart-popup {
  box-shadow: 0px 0px 23px -1px rgba(199, 197, 199, 1);
  padding: 10px;
}
.footer {
  text-align: center;
  background-color: #f0f0f5;
  color: #000000;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.copyright {
  padding-left: 10px;
  font-weight: 700;
}
.contact {
  padding-right: 10px;
  font-weight: 700;
}
.margins-shopping-list {
  margin-bottom: 55px;
  margin-top: 15px;
}
.enter-page-header-text {
  font-size: 80px;
  font-weight: 700;
  padding-top: 70px;
}
.enter-page-login-register-message {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
}
.enter-page-buttons {
  margin: 40px;
  transform: scale(2, 2);
}
.enter-page-buttons:hover {
  transform: scale(2.1, 2.1);
}
.login-register-header {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}
.login-register-labels {
  font-weight: 500;
  font-size: 20px;
  float: left;
  margin-left: 13px;
}
.button-width {
  width: 100%;
}

.button-go-register:hover {
  transform: scale(1.1, 1.1);
}
.scale-button:hover {
  transform: scale(1.1, 1.1);
}
.enter-page-background-color {
  background-color: #c2c2d6;
  box-shadow: -1px 10px 37px 45px rgba(194, 194, 214, 1);
  border-radius: 60px;
}
.scale-thing {
  overflow: hidden;
  transform: scale(0.95);
}
.scale-thing {
  transition: all 0.5s ease-in-out;
}
.scale-thing:hover {
  transform: scale(1);
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited {
  background-color: #8064a2 !important;
}
.login-page-background-color {
  background-color: #c2c2d6;
  box-shadow: 4px 17px 11px 27px rgba(194, 194, 214, 1);
  margin-top: 40px;
}
.register-page-background-color {
  background-color: #c2c2d6;
  box-shadow: 4px 17px 11px 27px rgba(194, 194, 214, 1);
}
.header-shop-name {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}
.header-link-deco {
  text-decoration: none;
  color: #000000;
}
.header-link-deco:hover {
  text-decoration: none;
  color: #000000;
}
.header-background {
  background-color: #c1c1d7;
}
.margin-left-button {
  margin-left: 10px;
}
.header-buttons {
  margin-left: 5px;
  font-size: 17px;
}
.user-name-header {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}
.categories-div-style {
  border-radius: 20px;
  box-shadow: 0px 6px 5px 11px rgba(193, 193, 215, 1);
}
.add-category-text-margin {
  margin-top: 15px;
}
.categories-header-text {
  font-weight: 700;
  font-size: 29px;
  font-style: italic;
}
.category-link-deco {
  text-decoration: none;
  color: #000000;
}
.category-link-deco:hover {
  text-decoration: none;
  color: #000000;
}
.category-text {
  font-size: 22px;
  font-weight: 400;
}
.button-category {
  margin-left: 10px;
}
.margin-bottom-category {
  margin-bottom: 10px;
}
.button-left-product {
  margin-right: 10px;
  font-size: 17px;
}
.button-right-product {
  margin-bottom: 10px;
}
.scale-product {
  transform: scale(0.95);
}
.scale-product {
  transition: all 0.5s ease-in-out;
}
.scale-product:hover {
  transform: scale(1);
}
.more-info-props {
  margin-bottom: 90px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #efeff5;
}
.scale-divs-in-cart {
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
}
.scale-divs-in-cart:hover {
  transform: scale(1);
}
.category-box-shadow {
  box-shadow: 4px -1px 8px 0px rgba(193, 193, 215, 1);
  margin-top: 23px;
}
.info-image {
  margin-top: 20px;
}
.category-icon {
  font-size: 20px;
  color: #a3297a;
}
.category-arrow-icon {
  color: #a3297a;
  margin-left: 29px;
  font-size: 30px;
  margin-top: 10px;
}
.category-header-icon {
  color: #a3297a;
  margin-right: 10px;
}
.margin-bottom-product-list {
  margin-bottom: 50px;
}
