
.icon-trash:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-plus-circle:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-user-outline:before { content: '\e804'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */